<div class="col l3 m6">
    <div class="card">
        <div class="card-image">
            <img src='/images/{{filename}}.jpg'>
            <span class="card-title">{{name}}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="far fa-baby-carriage"></i></a>
        </div>
        <div class="card-content">
            <p>{{description}}</p>
        </div>
        <div class="card-action">
            {{!-- helper haunted calc needed here --}}
            <p>Haunted Rating: 0</p> 
            <p>Price: {{price}}</p>
            <a href = "/artifact/{{id}}" class="waves-effect waves-light btn">Read More</a>
        </div>
    </div>
</div>